{{ define "point-events-body" }}
    <div class="container">

    {{ if gt .EventCount 0 }}
        <div class="row">
            <div class="col-md-12">
                &nbsp;&nbsp;
            </div>
        </div>       
    {{ end }}

    {{ range .Events }}
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                {{ . }}
            </div>
            <div class="col-md-1">
            </div>
        </div>      
    {{ end }}
{{ end }}